.blog-post {


    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid darken(#fff, 10%);

    &.single {
        border: none;
    }

    .title {
        color: $color-dark;
        @include font-light();
        font-size: 2.5em;

        &:hover {
            text-decoration: none;
        }
    }

    .meta {
        margin-bottom: 10px;
    }

    .image {
        height: 500px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        &.image-sm {
            height: 250px;
        }
    }
}


.blog-preview {

    .blog-preview-item {
        background: #fff;
        color: #333;
        padding: 0;
        margin: 7.5px;
        a {
            display: block;
            color: #222;


            &:hover {
                text-decoration: none;
            }
        }

        .blog-preview-image {
            height: 200px;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: #000;
        }

        .blog-preview-content {
            padding: 15px;

            h3 {
                @include font-light();
                font-size: 1.3em;
                text-transform: uppercase;
                margin-bottom: 10px;
            }
        }
    }

}
