.client {
    @include font-regular();
    font-size: 1.4em;

    strong {
        @include font-bold();
        font-size: 1.3em;
    }

    blockquote {
        margin-top: 20px;
        width: 50%;
        float: right;
        font-size: 0.6em;
        border-left: none;
    }

    span {
        display: inline-block;
        margin: 0 10px;
    }

    &.client--white {
        color: #fff;

    }

    &.client--left {
        text-align: left;
    }

    &.client--center {
        text-align: center;
    }

    &.client--lg {
        font-size: 1.6em;
    }

    .quote__left {
        text-align: left;
        display: block;
    }
    .quote__right {
        text-align: right;
        display: block;
    }
}
