.wedding-title {
    color: #fff;
    @include font-light();
    @include text-shadow();
    text-transform: uppercase;


    small {
        color: darken(#fff, 15%); font-size: 0.5em;
        @include font-bold();
        text-transform: none;
    }

    &.alt {
        color: #000;
        text-shadow: none;

        small {
            color: lighten(#000, 15%);
        }
    }
}

.wedding-button-group {
    a {
        color: #fff;
        @include font-light();
        text-transform: uppercase;
        display: inline-block;
        padding: 10px 15px;
        border: 1px solid #fff;
        margin: 10px;
        transition: all 300ms;
        letter-spacing: 1px;

        &:hover {
            text-decoration: none;
            background: #000;
            color: #fff;
        }
    }

    &.alt {
        a {
            color: #000;
            border: 1px solid #000;

            &:hover {
                text-decoration: none;
                background: #000;
                color: #fff;
            }
        }
    }
}


.client {
    @include font-regular();
    font-size: 1.4em;

    &.wedding-page {
        font-size: 1.2em !important;
    }

    strong {
        @include font-bold();
        font-size: 1.3em;
    }

    blockquote {
        margin-top: 20px;
        width: 70%;
        float: right;
        font-size: 0.8em;
        border-left: none;
        p {
            text-align: right;
        }
    }

    span {
        display: inline-block;
        margin: 0 10px;
    }

    &.client--white {
        color: #fff;

    }

    &.client--left {
        text-align: left;
    }

    &.client--center {
        text-align: center;
    }

    &.client--lg {
        font-size: 1.6em;
    }

    .quote__left {
        text-align: left;
        display: block;
    }
    .quote__right {
        text-align: right;
        display: block;
    }
    .quote__justified {
        text-align: justify;
        text-justify: inter-word;
    }
}
