footer {
    background: $color-dark;
    color: #fff;
    padding: 90px 0;
    letter-spacing: 1px;
    font-size: 1em;
    position: relative;
    z-index: 6;

    h4 {
        @include font-light();
        text-transform: uppercase;
    }

    p {
        @include font-light();

        a {
            color: #fff;
            font-size: 1em;
            &:hover {
                text-decoration: none;
                color: #fff;
            }
        }
    }

    .social-icons {
        text-align: right;

        a {
            display: inline-block;
            color: #fff;
            padding: 5px;
            font-size: 2em;
            margin-left: 10px;
        }
    }
}

.dt-branding {
    padding: 15px 0;
    text-align: center;
    background: darken(#222, 3%);
}

.dt-logo {
    display: inline-block;
    max-width: 200px;
    opacity: 0.5;
    transition: all 200ms;
    &:hover {
        opacity: 1;
    }
}

@media(max-width: 992px) {
    footer {
        text-align: center;

        .social-icons {
            text-align: center;
        }

        .cta-wrapper {
            margin: 30px 0 40px 0;
        }
    }
}
