.menu-preview-image-container {

    position: relative;
    width: 65%;
    height: 75vh;
    float: left;


    div {
        background-repeat: none;
        background-position: center center;
        background-size: cover;
    }
}

.menu-preview-content-container {
    position: relative;
    width: 35%;
    height: 75vh;
    float: left;
    background: $color-offwhite;

    button {
        position: absolute;
        top: 50%;
        background: none;
        border: none;
        width: 50px;
        height: 50px;
        outline: none;
        font-size: 2.1em;

        margin-top: -25px;

        &.left {
            left: 10px;
        }

        &.right {
            right: 10px;
        }
    }
}

.menu-preview-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    text-align: center;
    @include font-regular();

    p {
        font-size: 1.2em;
    }
}

.menu-preview-title {
    z-index: 10;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;

    h5, h1 {
        @include text-shadow();
        margin: 0; padding: 0;
    }

    h5 {
        @include font-light();
        text-transform: uppercase;
    }
    h1 {
        @include font-black();
        margin-bottom: 40px;
        letter-spacing: 2px;
        font-size: 3em;
    }
}

.menu-image-preview-slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: #000;

    div {
        position: relative;
        height: 75vh;
    }
}
