.menu {
    background: #222;
    padding: 0 20px;


    .container-fluid {
        //height: 85vh;
        background: #fff;
    }
}

.menu-category {
    @include font-light();
    font-size: 1.3em;
    text-transform: uppercase;
    margin-top: 30px;
    overflow-y: hidden;
}

.menu-container {
    position: relative;
    min-height: 900px;
}

.menu-buttons {

    list-style: none;
    margin: 20px 0 0 0;
    padding: 0;

    background: $color-offwhite;
    border: 1px solid darken($color-offwhite, 15%);

    li {
        float: left;
        margin: 0;
        padding: 0;
        //width: 16.66667%;

        a,button {
            display: block;
            //background: #555;
            padding: 10px 5px;
            color: $color-dark;
            text-align: center;
            @include font-light();
            text-transform: uppercase;
            letter-spacing: 1px;
            transition: all 250ms;

            &:hover,
            &.active {
                text-decoration: none;
                background: $color-dark;
                color: $color-offwhite;
            }
        }

        button {
            background: $color-offwhite;
            border: none;
            width: 100%;
            &:hover {
                background: darken($color-offwhite, 10%);
                color: $color-dark;
                cursor: default;
            }
        }
    }

    &.two li {
        width: 50%;
    }

    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }

}

.menu-header {
    padding: 25px;
    text-align: left;
    @include font-light();
    font-size: 2em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $color-dark;

    .price {
        font-size: 0.5em;
    }

    .description {
        margin-top: 6px;
        font-size: 0.4em;
        text-transform: none;
    }

    a {
        color: $color-dark;
        font-size: 0.5em;
        &:hover {
            text-decoration: none;
        }
    }
}

.menu-item {
    display: block;
    color: $color-dark;
    padding: 15px;
    border: 1px solid darken($color-offwhite, 5%);
    margin-bottom: 20px;
    position: relative;

    transition: all 250ms;

    h3 {
        @include font-bold();
        margin-bottom: 5px;
        text-transform: uppercase;
        font-size: 1.3em;
        letter-spacing: 1px;
        span {
            background-color: $color-dark;
            @include font-bold();
            letter-spacing: 1px;
        }
    }

    &:hover {
        text-decoration: none;
        color: $color-dark;
        background: $color-offwhite;
    }

    &.active {
        text-decoration: none;
        color: $color-dark;
        background: darken($color-offwhite, 5%);
    }

    p {
        margin: 0;
        @include font-light();
        //font-size: 0.9em;
    }

    &:visited,
    &:link {
        text-decoration: none;
        color: $color-dark;
    }
}

.menu-item-image {
    z-index: 5;
    position: absolute;
    top: 0;
    right: 20px;
    height: 60%;
    width: 33.33333%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        @include font-light();
        margin-bottom: 5px;
        text-transform: uppercase;
        font-size: 1.3em;
        letter-spacing: 1px;

        color: $color-dark;
        padding: 8px;
        background: #fff;
        border: 1px solid $color-dark;

        span {
            background-color: $color-dark;
            @include font-bold();
            letter-spacing: 1px;
        }
    }

}



.meal-bagde {
    background-color: $color-dark;
    @include font-bold();
    letter-spacing: 1px;
}

.menu-item-loader-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: #000;
    opacity: 0.8;
}


@media(max-width: 992px) {
    .menu-buttons {

        li {
            width: 100% !important;
        }
    }
}
