.menu-preview-image-container {

    position: relative;
    width: 65%;
    height: 75vh;
    float: left;


    div {
        background-repeat: none;
        background-position: center center;
        background-size: cover;
    }
}

.menu-preview-content-container {
    position: relative;
    width: 35%;
    height: 75vh;
    float: left;
    background: $color-offwhite;

    button {
        position: absolute;
        top: 50%;
        background: none;
        border: none;
        width: 50px;
        height: 50px;
        outline: none;
        font-size: 2.1em;

        margin-top: -25px;

        &.left {
            left: 10px;
        }

        &.right {
            right: 10px;
        }
    }
}

.menu-preview-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    text-align: center;
    @include font-regular();

    p {
        font-size: 1.2em;
    }

    h1 {
        @include font-light();
        letter-spacing: 2px;
        font-size: 2em;
        text-transform: uppercase;
    }
}

.menu-preview-title {
    z-index: 10;
    max-width: 400px;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    color: #666;
    @include font-light();
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5em;

    small {
        display: block;
    }
    // h5, h1 {
    //     @include text-shadow();
    //     margin: 0; padding: 0;
    // }
    //
    // h5 {
    //     @include font-light();
    //     text-transform: uppercase;
    // }
    // h1 {
    //     @include font-light();
    //     margin-bottom: 40px;
    //     letter-spacing: 2px;
    //     font-size: 3em;
    //     text-transform: uppercase;
    // }
}

.menu-preview-link {
    z-index: 10;
    max-width: 400px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    color: #666;
    @include font-light();
    text-transform: uppercase;
    text-align: center;
    font-size: 1.3em;
    border: 1px solid #666;
    padding: 8px 16px;
    transition: all 300ms;

    &:hover {
        color: #fff;
        background: #000;
        text-decoration: none;
    }
}

.menu-image-preview-slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: #000;

    div {
        position: relative;
        height: 75vh;
    }
}


@media(max-width: 992px) {
    .menu-preview-content-container {
        height: 50vh;
        width: 100%;

    }
    .menu-preview-image-container {
        width: 100%;
        height: 50vh;
    }
}
