.nav-background {
    z-index: 9;
    position: fixed;
    top: 35px;
    left: 0;
    right: 0;
    width: 100%;
    height: 122px;
    transition: all 250ms;
    //opacity: 0.3;

    &.scrolled {
        height: 61px;
        opacity: 0.8;
        background: $color-darker;
    }
}

    @media(max-width: 992px) {
        .nav-background {
            top: 0;
        }
    }

.topbar {
    z-index: 15;
    height: 35px;
    background: #1a1a1a;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    text-align: right;
    @include font-light();


    .topbar__left {
        float: left;
    }

    .topbar__right {
        float: right;
    }

    span {
        color: #fff;
        display: inline-block;
        margin: 8px 10px 0 10px;

        small {
            text-size: 0.5em;
        }

        a {
            color: #fff;
            text-decoration: none;
        }

        .social {
            display: inline-block;
            margin-right: 6px;
        }
    }

    .topbar--cta {
        z-index: 15;
        position: absolute;
        top: 0;
        right: 0;
        height: 45px;
        line-height: 45px;
        @include font-bold();
        display: block;
        letter-spacing: 1px;
        background: #EF4836;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        padding: 0 20px;
        border-bottom-left-radius: 5px;
        transition: background 200ms;

        &:hover {
            background: darken(#EF4836, 10%);
        }
    }
}

    @media(max-width: 992px) {
        .topbar {
            display: none;
        }
    }

nav.desktop {
    z-index: 10;
    position: fixed;
    top: 35px;
    left: 0;
    right: 0;
    width: 100%;
    padding: 20px 40px;
    transition: background 250ms;

    .nav-inner {
        position: relative;
    }

    .nav-logo {
        max-width: 200px;
        transition: all 250ms;
    }

    .nav-items {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        margin: 0; padding: 0;

        li {
            display: inline-block;
            position: relative;

            a {
                @include font-light();
                display: inline-block;
                color: #fff;
                padding: 10px 15px;
                letter-spacing: 1px;
                border: 1px solid rgba(255,255,255,0);
                transition: all 250ms;
                font-size: 0.95em;
                text-transform: uppercase;

                &:hover, &.active {
                    border: 1px solid #fff;
                    text-decoration: none;
                }

                &:visited { text-decoration: none; }
            }

            ul {
                position: absolute;
                top: 40px;
                left: -50%;

                li {
                    a {
                        border: none;
                        background: #fff;
                        color: #000;
                        width: 150px;
                        &:hover, &.active {
                            border: none;
                        }
                    }
                }

                //width: 250px;
            }
        }
    }
}

nav.desktop.scrolled {
    padding: 10px 40px;
    //background: $color-darker;

    .nav-logo {
        max-width: 100px;
    }

    .nav-items {
        li {
            a {
                padding: 6px 10px;
                font-size: 0.8em;
            }
        }
    }
}


.contact-us {
    z-index: 20;
    position: fixed;
    top: 0;
    right: 0;
    background: #222;
    color: #fff;
    padding: 20px 20px 0 20px;
    @include font-regular();

    p {
        margin-bottom: 20px;
        font-size: 0.8em;
        letter-spacing: 1px;
    }

    a {
        color: #fff;
    }

    transform: translateX(100%);
    transition: transform 200ms;

    &.open,
    &:hover {
        transform: none;
    }
}


// Mobile Nav
nav.mobile {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    // padding: 20px 40px;
    padding: 0 40px;
    transition: background 250ms;



    .nav-inner {
        position: relative;

        .open-mobile-nav {
            position: absolute;
            display: inline-block;
            // top: 10px;
            right: 0px;
            color: #fff;
            font-size: 2em;
            padding: 10px 20px;
            background: #000;
        }
    }

    .nav-logo {
        margin: 7px 0 0 0;
        max-width: 120px;
        transition: all 250ms;
    }

    .nav-items {
        display: none;
        position: fixed;
        right: 10px;
        top: 10px;
        left: 10px;
        bottom: 10px;
        margin: 0; padding: 0;
        background: $color-dark;

        &.open { display: block;}

        li {
            display: block;
            position: relative;
            width: 100%;
            margin-bottom: 10px;

            a {
                @include font-light();
                display: block;
                color: #fff;
                padding: 10px 15px;
                letter-spacing: 1px;
                border: 1px solid rgba(255,255,255,0);
                transition: all 250ms;
                text-align: center;
                font-size: 0.8em;

                &:hover, &.active {
                    text-decoration: none;
                }

                &:visited { text-decoration: none; }

                &.close-mobile-nav {
                    text-align: right;
                    font-size: 1.2em;
                    padding: 3px 15px;
                }

                img {
                    width: 100px;
                }
            }
        }
    }
}

nav.mobile.scrolled {
    padding: 10px 40px;
    //background: $color-darker;

    .nav-logo {
        max-width: 70px;
    }

    .nav-inner {
        position: relative;

        .open-mobile-nav {
            position: absolute;
            display: inline-block;
            top: 2px;
            right: 0px;
            color: #fff;
            font-size: 1em;
            padding: 10px 15px;
            background: #000;
        }
    }
}