.section-panel {

    position: relative;

    &.padding {
        padding-left: 10px;
        padding-right: 10px;
    }

    &.panel-fullscreen {
        height: 100vh;
    }

    &.panel-75 {
        height: 75vh;
    }

    &.panel-fullwidth {
        width: 100%;
    }

    &.section-fluid-height {
        padding: 150px 0;
    }

    &.section-header {
        padding: 70px 0;
    }

    &.with-background-image {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    &.with-background-video {

        video {
            width: 100%;
            height: auto;
        }
    }

    &.section-white {
        background: #fff;
    }

    &.section-dark {
        background: $color-dark;
        color: #fff;
    }

    .heading {
        @include font-light();
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    .panel-content {

        &.middle {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }

        &.upper {
            position: absolute;
            top: 25%;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;

            width: 75%;

            img {
                width: 100%;
            }
        }

        h1 {
            font-size: 6em;
            color: #fff;
            letter-spacing: 2px;
            text-shadow: 2px 2px 5px rgba(0,0,0,0.8);
            margin-bottom: 30px;

            &.alt {
                @include font-light();
                text-transform: uppercase;
                font-size: 3em;
            }
        }
        h3 {
            @include font-light();
            text-align: center;
            font-size: 1.8em;
            color: #fff;
            letter-spacing: 2px;
            //text-shadow: 2px 2px 5px rgba(0,0,0,0.8);
            margin-bottom: 30px;
            text-transform: uppercase;
        }
    }

    .side-content {
        position: absolute;
        text-transform: uppercase;
        color: #fff;
        font-size: 1.8em;
        letter-spacing: 2px;

        @include font-light();

        strong {
            @include font-black();
        }

        &--left {
            left: 25px;
            bottom: 25px;
        }

        &--right {
            right: 25px;
            bottom: 75px;
        }
    }

    .content-center {
        text-align: center;
        max-width: 600px;
        margin: 0 auto;

        h1 {
            margin-bottom: 35px;
        }
    }

    .panel-centered {
        text-align: center;
    }

    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}

.section-button {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    background: $color-dark;
    color: #fff;
    border: none;
    margin-top: -25px;
    font-size: 2em;
    outline: none;


    &.section-button-left {
        left: 0;
    }
    &.section-button-right {
        right: 0;
    }
}

.spacer {
    width: 150px;
    height: 1px;
    background: $color-dark;
    margin: 0 auto 35px auto;

    &.white {
        color: #fff;
    }
}

.logo-icon {
    display: inline-block;
    margin-bottom: 35px;
}


.default {
    @include font-regular();
    font-size: 1.4em;
    margin-bottom: 35px;
    text-align: justify;
    text-justify: inter-word;

    strong {
        @include font-bold();
        font-size: 1.1em;
    }
}

.dark-spacer {
    height: 20px;
    background: $color-dark;
}


video#bgvid,
.bgimage {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-position: center center;
    background-repeat:  no-repeat;
    background-size: cover;
}

.bgimage {
    //display: none;
}

@media(max-width: 992px) {

    .section-panel {
        .panel-content {
            h1 {
                font-size: 3em;
            }

            &.upper {
                width: 100%;
                left: 0;
                right: 0;
                transform: none;

                img { width: 100%; }
            }
        }

        .side-content {
            display: none;
        }
    }

    // .bgimage {
    //     display: block;
    // }
    // #bgvid {
    //     display: none;
    // }
}



// .fullscreen-bg {
//   position: fixed;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   overflow: hidden;
//   z-index: -100;
// }
//
// .fullscreen-bg__video {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
// }
//
// @media (min-aspect-ratio: 16/9) {
//   .fullscreen-bg__video {
//     height: 300%;
//     top: -100%;
//   }
// }
//
// @media (max-aspect-ratio: 16/9) {
//   .fullscreen-bg__video {
//     width: 300%;
//     left: -100%;
//   }
// }
//
// @media (max-width: 767px) {
//   .fullscreen-bg {
//     background: url('../img/videoframe.jpg') center center / cover no-repeat;
//   }
//
//   .fullscreen-bg__video {
//     display: none;
//   }
// }
